name: Docs deployer

on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs
      - run: pip install -r requirements.docs.txt
      - run: mkdocs gh-deploy --force --clean --verbose